#header
    display: flex
    flex-direction: column
    justify-content: space-between
    align-items: center

#title-wrap
    display: flex
    font-size: 3em
    justify-content: center
    margin-bottom: 0

#slogan-wrap
    display: flex
    justify-content: center
    background: black

.main-nav-link
    margin: 12px
    padding: 2px
    font-size: 1.5em

a
    color: black
    font-family: Courier New
    text-decoration: none


.list-inline.text-center
    color: #444444
    padding-left: 0
    margin: 0

.list-inline.text-center li
    display: inline-block
    background-color: #666666
    height: 40px
    width: 40px
    border-radius: 20px
    margin: 0px 20px
    text-align: center

.list-inline.text-center li a 
    text-decoration: none

.list-inline.text-center li a span i
    color: white

.list-inline.text-center li:hover 
    background-color: #333333

.iconfont
    font-size: 35px